[submodule "lib/emacs-color-theme-solarized"]
	path = lib/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "lib/emacs-slim"]
	path = lib/emacs-slim
	url = https://github.com/slim-template/emacs-slim.git
[submodule "lib/haml-mode"]
	path = lib/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule "lib/rhtml"]
	path = lib/rhtml
	url = https://github.com/eschulte/rhtml.git
[submodule "lib/rinari"]
	path = lib/rinari
	url = https://github.com/eschulte/rinari
