[submodule "lib/emacs-color-theme-solarized"]
	path = lib/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "lib/emacs-slim"]
	path = lib/emacs-slim
	url = https://github.com/slim-template/emacs-slim.git
[submodule "lib/haml-mode"]
	path = lib/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule "lib/rhtml"]
	path = lib/rhtml
	url = https://github.com/eschulte/rhtml.git
[submodule "lib/rinari"]
	path = lib/rinari
	url = https://github.com/eschulte/rinari
[submodule "lib/emacs-git-gutter-fringe"]
	path = lib/emacs-git-gutter-fringe
	url = https://github.com/syohex/emacs-git-gutter-fringe.git
[submodule "lib/emacs-git-gutter"]
	path = lib/emacs-git-gutter
	url = https://github.com/syohex/emacs-git-gutter.git
[submodule "lib/fringe-helper"]
	path = lib/fringe-helper
	url = https://github.com/nschum/fringe-helper.el
[submodule "lib/rvm"]
	path = lib/rvm
	url = https://github.com/senny/rvm.el.git
[submodule "lib/flymake-ruby"]
	path = lib/flymake-ruby
	url = https://github.com/purcell/flymake-ruby.git
[submodule "lib/flymake-easy"]
	path = lib/flymake-easy
	url = https://github.com/purcell/flymake-easy.git
[submodule "lib/ag"]
	path = lib/ag
	url = https://github.com/Wilfred/ag.el
[submodule "lib/undo-tree"]
	path = lib/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "lib/scss-mode"]
	path = lib/scss-mode
	url = https://github.com/antonj/scss-mode
[submodule "lib/clojure-mode"]
	path = lib/clojure-mode
	url = https://github.com/clojure-emacs/clojure-mode.git
[submodule "lib/pretty-mode-plus"]
	path = lib/pretty-mode-plus
	url = http://github.com/grettke/pretty-mode-plus.git
[submodule "lib/haskell-mode"]
	path = lib/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
