[submodule "lib/base16-emacs"]
	path = lib/base16-emacs
	url = git@github.com:neil477/base16-emacs.git
[submodule "lib/emacs-git-gutter-fringe"]
	path = lib/emacs-git-gutter-fringe
	url = git@github.com:syohex/emacs-git-gutter-fringe.git
[submodule "lib/undo-tree"]
	path = lib/undo-tree
	url = git@github.com:emacsmirror/undo-tree.git
[submodule "lib/emacs-git-gutter"]
	path = lib/emacs-git-gutter
	url = git@github.com:syohex/emacs-git-gutter.git
[submodule "lib/fringe-helper"]
	path = lib/fringe-helper
	url = git@github.com:nschum/fringe-helper.el.git
[submodule "lib/lib/flymake-ruby"]
	path = lib/lib/flymake-ruby
	url = git@github.com:purcell/flymake-ruby.git
[submodule "lib/lib/flymake-easy"]
	path = lib/lib/flymake-easy
	url = git@github.com:purcell/flymake-easy.git
[submodule "lib/yasnippet"]
	path = lib/yasnippet
	url = git@github.com:capitaomorte/yasnippet.git
[submodule "lib/tabbar"]
	path = lib/tabbar
	url = git@github.com:dholm/tabbar.git
[submodule "lib/haskell-mode"]
	path = lib/haskell-mode
	url = git@github.com:haskell/haskell-mode.git
